---
interface Props {
    authorString: string,
}

const parseMarkdownLink = (link: string) => {
  const match = /\[(.+?)\]\((https?:\/\/[a-zA-Z0-9/.(-]+?)?\)/g.exec(link)
  return {
    author: match?.[1] || 'Unknown',
    avatarUrl: match?.[2] || 'https://github.com/purduehackers.png'
  }
}

const { authorString } = Astro.props;
const { avatarUrl, author } = parseMarkdownLink(authorString);
---

<span class="flex flex-row gap-x-2 items-center text-lg">
  <img
    src={avatarUrl}
    width={32}
    height={32}
    alt={`Avatar for ${author}`}
    class="rounded-full"
  />
  {author}
</span>
