---
interface Props {
  type: "blog" | "vip-newsletter";
}
const { type } = Astro.props;
---

<a
  href={type === "blog" ? "/" : "/vip-newsletter"}
  class="font-pixel uppercase text-xs sm:text-sm hover:text-amber-500 transition flex items-center gap-1"
>
  <span aria-hidden="true">&lt;&lt;</span>
  All {type === "blog" ? "Posts" : "Newsletters"}
</a>
