---
import { HomeIcon } from "astro-feather";
import { Rss, Github, Instagram, Discord } from "simple-icons-astro";
---

<div class="flex flex-row justify-center gap-x-5">
  <a
    href="https://purduehackers.com"
    class="hover:text-gray-600 transition text-black"
    target="_blank"
  >
    <HomeIcon height={27} width={27} />
  </a>
  <a
    href="https://blog.purduehackers.com/rss.xml"
    class="hover:text-gray-600 transition text-black"
    target="_blank"
  >
    <Rss height={27} width={27} />
  </a>
  <a
    href="https://github.com/purduehackers"
    class="hover:text-gray-600 transition text-black"
    target="_blank"
  >
    <Github height={27} width={27} />
  </a>
  <a
    href="https://instagram.com/purduehackers"
    class="hover:text-gray-600 transition text-black"
    target="_blank"
  >
    <Instagram height={27} width={27} />
  </a>
  <a
    href="https://puhack.horse/discord"
    class="hover:text-gray-600 transition text-black"
    target="_blank"
  >
    <Discord height={27} width={27} />
  </a>
</div>
