---
import BackButton from "./BackButton.astro";
const { path } = Astro.params;
---

<nav class="w-full top-0 z-10">
      <div class="container px-4 sm:px-8 md:px-14 mx-auto flex">
        {path !== '/' && <BackButton />}
        <div class="grow" />
      </div>
    </nav>
