---
import type { CollectionEntry } from "astro:content";
import FormattedDate from "./FormattedDate.astro";
import colors from "../lib/colors";

interface Props {
  post: CollectionEntry<"blog">;
  type: "blog" | "vipNewsletter";
}

const { post, type } = Astro.props;
const { data } = post;
const { color = colors[0] } = data;
---

<a
  href={`${type === "blog" ? "posts" : "vip-newsletter"}/${post.slug}`}
  class={`flex py-4 px-3 gap-2 flex-col justify-center rounded-lg border-[3px] border-black bg-${color!.bg} hover:bg-[${color!.mainLight}] transition duration-100 no-underline text-black hover:text-black`}
>
  <div class="rounded-md mx-auto bg-white border-2 border-black">
    <FormattedDate date={data.pubDate} monthFormat="short" size="sm" />
  </div>
  <h2 class="text-center text-3xl sm:text-2xl md:text-3xl font-bold">
    {data.title}
  </h2>
</a>
