---
import { getCollection } from "astro:content";

import BaseHead from "components/BaseHead.astro";
import Footer from "components/Footer.astro";
import PostCard from "components/PostCard.astro";

import colors from "lib/colors";

import { SITE_TITLE } from "../../consts";

const coll = await getCollection(
  "blog",
  ({ data }) => data.type === "vip-newsletter",
);
const posts = coll
  .sort((a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf())
  .map((post, i) => {
    post.data.color = colors[(coll.length - i - 1) % colors.length];
    return post;
  });
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead
      title={SITE_TITLE}
      description="All the newsletters we send to 70+ alumni, faculty, and sponsors."
      image="https://og.purduehackers.com/VIP%20Newsletter.png?theme=light&md=1&fontSize=250px&caption="
    />
  </head>
  <body>
    <div class="min-h-screen flex flex-col">
      <header class="bg-pink-100 border-b-4 border-black">
        <div
          class="text-center py-16 sm:py-20 flex flex-col gap-y-4 items-center"
        >
          <h1 class="text-4xl sm:text-7xl sm:tracking-tight font-bold">
            VIP Newsletters
          </h1>
          <h2 class="text-xl text-zinc-600 font-normal">
            The monthly email we send to folks we want to stay in touch with.
          </h2>
        </div>
      </header>
      <div
        class="max-w-sm sm:max-w-6xl grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-6 py-8 sm:py-14 px-5 sm:px-20 mx-auto"
      >
        {posts.map((post) => <PostCard post={post} type="vipNewsletter" />)}
      </div>
      <Footer />
    </div>
  </body>
</html>
