@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap');
@import url('./highlight.css');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --boltColor: #000000;
  --zapColor: #000000;
  --sparkColor: #000000;
}

@layer base {
  body {
    @apply font-main;
  }
  pre {
    @apply bg-gray-100 w-full mx-auto rounded-lg p-2 text-base overflow-x-auto max-w-xl font-mono;
  }
  :not(pre) > code {
    @apply bg-gray-200 rounded-lg p-1 text-base font-mono;
  }
  ::selection {
    background: #fcd34d;
  }
}

.lightning-gradient {
  background: linear-gradient(
    to right,
    var(--boltColor),
    var(--zapColor),
    var(--sparkColor)
  );
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.bolt {
  font-family: 'Space Mono';
  font-weight: 700;
  color: var(--boltColor);
}
.zap {
  font-family: 'Space Mono';
  font-weight: 700;
  color: var(--zapColor);
}
.spark {
  font-family: 'Space Mono';
  font-weight: 700;
  color: var(--sparkColor);
}
